// Mixins
// --------------------

// Clear
// --------
.clear {
  &:before,
  &:after {
    display: block;
    content: "";
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

// Size
// --------------------
.size(@width, @height) {
	height: @height;
	width: @width;
}
.square(@size) {
	.size(@size, @size);
}

// Position absolute
.absolute(@top, @right, @bottom, @left) {
	position: absolute;
	top: @top;
	right: @right;
	bottom: @bottom;
	top: @top;
}

// Centered
// --------------------
.center(@top-bottom) {
	margin: @top-bottom auto;
	.clear();
}

// Text
// --------------------
.text-indent() {
	background: transparent;
	color: transparent;
	text-indent: -9999px;
	line-height: 0;
	font-size: 0;
}

// Border
// --------------------
.border-radius(@radius) {
	-webkit-border-radius: @radius;
		 -moz-border-radius: @radius;
					border-radius: @radius;
}

// Opacity
// --------------------
.opacity(@opacity) {
	opacity: @opacity / 100;
	filter: ~"alpha(opacity=@{opacity})";
}

// Sprite
// --------------------
.sprite(@x, @y) {
	.sprite-path();
	background-position: -(@x) -(@y);
}

.sprite-path {
	background: url("static/images/sprite.png") no-repeat;
}